@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#devices">Устройства</a></li>
    <li><a data-toggle="pill" href="#statistic">Статистика</a></li>
</ul>

<div class="tab-content">
    <div id="devices" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="statistic" class="tab-pane fade">
       <asp:Chart id="StatisticChart">
           <ChartAreas>
               <asp:ChartArea Name = "DataByMonth"/>
           </ChartAreas>
       </asp:Chart>
    </div>
</div>


