@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#devices">Устройства</a></li>
    <li><a data-toggle="pill" href="#statistic">Статистика</a></li>
</ul>

<div class="tab-content">
    <div id="devices" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="statistic" class="tab-pane fade">
        <div id="temperature_chart"></div>

        @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.get('UserMenu/GetJsonData', function (jsonData) {
                    var option = {
                        title: 'Температура',
                        width: 1080,
                        hAxis: {
                            baselineColor: '#fff',
                            gridlineColor: '#fff',
                            textPosition: 'none'
                        },                            
                    };
                    var chart = new google.visualization.AreaChart(document.getElementById('temperature_chart'));
                    var data = google.visualization.arrayToDataTable(jsonData, false);
                    chart.draw(data, option);
                });
            }
        </script>
        }
    </div>
</div>

