<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="sessionDate" value="${longdate:cached=true}"/>
  <variable name="enableDebugInfo" value="false"/>

  <targets>
    <target xsi:type="File" name="debug" fileName="${basedir}/logs/${shortdate}/Debug/${var:sessionDate}.log"
             layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />
    <target xsi:type="File" name="info" fileName="${basedir}/logs/${shortdate}/${var:sessionDate}.log"
             layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}" />    
  </targets>

  <rules>
    <logger name="*" maxlevel="Debug" writeTo="debug" enabled="false" />
    <logger name="*" minlevel="Info" writeTo="info"/>
  </rules>
</nlog>
